<div class="bodydiv">
    <div class="containerDiv">
        <div class="head">
            <p>user Signup</p><hr>
        </div>
        <div class="formDiv">
            <form [formGroup]="_user_Signup_Form">
                <div>
                    <label for="email">Enter Name : </label><br>
                    <input type="text"  id="name" formControlName="_name" required placeholder="Enter name">
                    <div *ngIf="name.errors">
                        <small *ngIf="name.errors?.required && name.touched" class="text-danger">
                            Name is required
                        </small>
                    </div>
                </div><br>

                <div>
                    <label for="email">Enter Registered Email : </label><br>
                    <input type="email"  id="email" formControlName="_email" required placeholder="Email Id">
                    <div *ngIf="email.errors">
                        <small *ngIf="email.errors?.required && email.touched" class="text-danger">
                            Email is required
                        </small>
                        <small *ngIf="email.errors?.emailValidation" class="text-danger">
                            {{email.errors.emailValidation.message}}
                        </small> 
                    </div>
                </div><br>
                <div>
                    <label for="pass">Enter Password : </label><br>
                    <input type="password"  id="pass" formControlName="_password" required placeholder="Password">
                    <div *ngIf="pwd.errors">
                        <small *ngIf="pwd.errors?.required && pwd.touched" class="text-danger">
                            Password is required
                        </small>
                        <small *ngIf="pwd.errors?.passwordValidation" class="text-danger">
                            {{pwd.errors.passwordValidation.message}}
                        </small> 
                    </div>
                </div><br>
                <div>
                    <label for="id">Confirm Password : </label><br>
                    <input type="password" id="cPass" formControlName="_conPassword" required placeholder="Confirm Password">
                    <div *ngIf="cPwd.errors || _user_Signup_Form.errors">
                        <small *ngIf="cPwd.errors?.required && cPwd.touched" class="text-danger">
                            Password is required
                        </small>
                        <small *ngIf="_user_Signup_Form.errors?.validatePassword" class="text-danger" style="color:red;">
                            {{_user_Signup_Form.errors.validatePassword.message}} 
                        </small> 
                    </div>
                </div><br>
                <div class="buttonDiv">
                    <input type="submit" class="btn" value="Signup" [disabled]="_user_Signup_Form.invalid" (click)="signup()">
                    <input type="reset" class="btn" value="Reset">
                </div>
                <div class="old">
                    <p>Already <a [routerLink]="['../login']">have an account</a>?</p>
                </div>
            </form>
        </div>
        
    </div>
</div>